In [1]:
#import pandas and numpy for data structures and operations needed to manipulate numerical tables and time series.
import pandas as pd
import numpy as np


#import matplotlib and seaborn for visualization
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#import sklearn for building models 
from sklearn import linear_model


#Other packages from sklearn that may help my sample, test accuracy, etc
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import minmax_scale
from sklearn.preprocessing import MaxAbsScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing.data import QuantileTransformer
from sklearn.preprocessing import StandardScaler


#may need datetime again, so importing as well
import datetime as dt

In [2]:
#check working directory
import os
os.getcwd()

'C:\\Users\\IBM_ADMIN\\Desktop\\DevUP\\capstone\\csv'

In [3]:
df = pd.read_csv('mergedf.csv')

In [4]:
list(df.columns.values)

['Unnamed: 0',
 'tripduration',
 'starttime',
 'stoptime',
 'startstationid',
 'startstationname',
 'startstationlatitude',
 'startstationlongitude',
 'endstationid',
 'endstationname',
 'endstationlatitude',
 'endstationlongitude',
 'bikeid',
 'usertype',
 'birthyear',
 'gender',
 'age',
 'distance',
 'date',
 'gender_cat',
 'weekday',
 'month',
 'speed',
 'temperature_fahrenheit',
 'date_weather2']

In [5]:
del df['Unnamed: 0']

In [6]:

df=pd.DataFrame(df)

In [7]:
df.head(3)

,tripduration,starttime,stoptime,startstationid,startstationname,startstationlatitude,startstationlongitude,endstationid,endstationname,endstationlatitude,...,gender,age,distance,date,gender_cat,weekday,month,speed,temperature_fahrenheit,date_weather2
0,680.0,2017-01-01 00:00:21,2017-01-01 00:11:41,3226.0,W 82 St & Central Park West,40.782750,-73.971370,3165.0,Central Park West & W 72 St,40.775794,...,2.0,52.0,8.812613e+06,2017-01-01 00:00:00,female,6.0,1.0,46655011.0,44.06,2017-01-01 00:00:00
1,1282.0,2017-01-01 00:00:45,2017-01-01 00:22:08,3263.0,Cooper Square & E 7 St,40.729236,-73.990868,498.0,Broadway & W 32 St,40.748549,...,2.0,30.0,8.816569e+06,2017-01-01 00:00:00,female,6.0,1.0,24757917.0,44.06,2017-01-01 00:00:00
2,666.0,2017-01-01 00:01:51,2017-01-01 00:12:57,3163.0,Central Park West & W 68 St,40.773407,-73.977825,3163.0,Central Park West & W 68 St,40.773407,...,1.0,17.0,8.813090e+06,2017-01-01 00:00:00,male,6.0,1.0,47638322.0,44.06,2017-01-01 00:00:00

## Final) Building Predictive Model

In [8]:
df.dtypes

tripduration              float64
starttime                  object
stoptime                   object
startstationid            float64
startstationname           object
startstationlatitude      float64
startstationlongitude     float64
endstationid              float64
endstationname             object
endstationlatitude        float64
endstationlongitude       float64
bikeid                    float64
usertype                   object
birthyear                 float64
gender                    float64
age                       float64
distance                  float64
date                       object
gender_cat                 object
weekday                   float64
month                     float64
speed                     float64
temperature_fahrenheit    float64
date_weather2              object
dtype: object

In [9]:
#Random row selection for sample
sample_df = df.sample(frac = 0.4, random_state = 1)

sample_df.head()

,tripduration,starttime,stoptime,startstationid,startstationname,startstationlatitude,startstationlongitude,endstationid,endstationname,endstationlatitude,...,gender,age,distance,date,gender_cat,weekday,month,speed,temperature_fahrenheit,date_weather2
8513138,941.0,2017-08-28 12:32:50,2017-08-28 12:48:32,382.0,University Pl & E 14 St,40.734927,-73.992005,517.0,Pershing Square South,40.751581,...,1.0,43.0,8.815612e+06,2017-08-28 00:00:00,male,0.0,8.0,33726041.0,68.00,2017-08-28 00:00:00
3819560,673.0,2017-05-15 19:45:42,2017-05-15 19:56:55,3140.0,1 Ave & E 78 St,40.771404,-73.953517,3290.0,E 89 St & York Ave,40.777945,...,1.0,34.0,8.810896e+06,2017-05-15 00:00:00,male,0.0,5.0,47131095.0,60.53,2017-05-15 00:00:00
8013391,122.0,2017-08-18 07:42:35,2017-08-18 07:44:37,3112.0,Milton St & Franklin St,40.729060,-73.957790,3113.0,Greenpoint Ave & Manhattan Ave,40.730260,...,1.0,47.0,8.816008e+06,2017-08-18 00:00:00,male,4.0,8.0,260144504.0,75.92,2017-08-18 00:00:00
7767379,625.0,2017-08-13 15:30:42,2017-08-13 15:41:08,412.0,Forsyth St & Canal St,40.715816,-73.994224,415.0,Pearl St & Hanover Square,40.704718,...,1.0,25.0,8.821570e+06,2017-08-13 00:00:00,male,6.0,8.0,50812242.0,73.94,2017-08-13 00:00:00
1524527,297.0,2017-03-05 21:05:52,2017-03-05 21:10:50,467.0,Dean St & 4 Ave,40.683125,-73.978951,3368.0,5 Ave & 3 St,40.672816,...,1.0,37.0,8.823240e+06,2017-03-05 00:00:00,male,6.0,3.0,106948360.0,28.94,2017-03-05 00:00:00

In [10]:
#drop columns with data that already represented in other column or do not impact trip duration
del sample_df["stoptime"]
del sample_df["startstationid"]
del sample_df["startstationlatitude"]
del sample_df["startstationlongitude"]
del sample_df["endstationid"]
del sample_df["endstationlatitude"]
del sample_df["endstationlongitude"]
del sample_df["bikeid"]
del sample_df["date_weather2"]
del sample_df["gender"]
del sample_df["startstationname"]
del sample_df["endstationname"]
del sample_df["birthyear"]
del sample_df["starttime"]
#Had to go back and forth, deleting variables as I deem uncessary estimating time to make processing data possible

In [11]:
#I need to convert some columnes to strings to use as categorical variables

df['weekday']=df['weekday'].astype(str)
df['month']=df['month'].astype(str)

In [12]:
sample_df.dtypes

tripduration              float64
usertype                   object
age                       float64
distance                  float64
date                       object
gender_cat                 object
weekday                   float64
month                     float64
speed                     float64
temperature_fahrenheit    float64
dtype: object

In [13]:
#Dummified  variables from sample_df for missing values
dummies=pd.get_dummies(sample_df[['usertype', 'gender_cat', 'month', 'weekday' ]])
dummies.shape

(5613412, 6)

In [14]:
#Add dummies to dataframe
dfcombined=pd.concat([sample_df,dummies],axis=1)
dfcombined.head()

,tripduration,usertype,age,distance,date,gender_cat,weekday,month,speed,temperature_fahrenheit,month,weekday,usertype_Customer,usertype_Subscriber,gender_cat_female,gender_cat_male
8513138,941.0,Subscriber,43.0,8.815612e+06,2017-08-28 00:00:00,male,0.0,8.0,33726041.0,68.00,8.0,0.0,0,1,0,1
3819560,673.0,Subscriber,34.0,8.810896e+06,2017-05-15 00:00:00,male,0.0,5.0,47131095.0,60.53,5.0,0.0,0,1,0,1
8013391,122.0,Subscriber,47.0,8.816008e+06,2017-08-18 00:00:00,male,4.0,8.0,260144504.0,75.92,8.0,4.0,0,1,0,1
7767379,625.0,Subscriber,25.0,8.821570e+06,2017-08-13 00:00:00,male,6.0,8.0,50812242.0,73.94,8.0,6.0,0,1,0,1
1524527,297.0,Subscriber,37.0,8.823240e+06,2017-03-05 00:00:00,male,6.0,3.0,106948360.0,28.94,3.0,6.0,0,1,0,1

In [15]:
#Normalization is done to continuous variables to set comparing variables at a 'neutral' or 'standard' scale
#select all variables with large range
sample_df['age']=StandardScaler().fit_transform(sample_df[['age']])
sample_df['distance']=StandardScaler().fit_transform(sample_df[['distance']])
sample_df['temperature_fahrenheit']=StandardScaler().fit_transform(sample_df[['temperature_fahrenheit']])

In [16]:
#Create Y(target) list.  We are trying to predict trip duration, so that is our target.
y=sample_df['tripduration']

In [17]:
#from correlation matrix,set significant variables as x

factors=dfcombined[[ 'distance','age','weekday','month','speed','temperature_fahrenheit','usertype_Customer','gender_cat_female', 
                    'usertype_Subscriber']]

In [ ]:
#Time to split and set training and testing data in groups
x_train,x_test,y_train,y_test=train_test_split(factors,y,test_size=.3, random_state=1)

In [ ]:
#Creating the Linear Regression

LinReg=linear_model.LinearRegression()
LinReg.fit(x_train, y_train)

In [ ]:
LinReg.score(x_test,y_test)

In [ ]:
LinReg.predict(x_test)

In [ ]:
LinReg.coef_

In [ ]:
LinReg.intercept_

In [ ]:
import statsmodels.api as statsmodels

In [ ]:
#Running stats on model.  R-squared is closer to 1, model is predicting tripduration
r = statsmodels.OLS(y, factors).fit()
r.summary()

In [ ]:

y_pred=LinReg.predict(x_test)